main {
  width: 100%;

  box-sizing: border-box;
  color: #e5e1dd;
  overflow: hidden;

  h2 {
    font-size: 20px;
    line-height: 16px;
  }
  padding-bottom: 30px;
}


.content {
  .box {
    width: 85%;
    margin: auto;
  }

  .cards-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    app-carousel-card {
      margin-bottom: 30px;
    }
  }
}

.title {
  margin: 50px 0 20px;

  h2 {
    color: #ff7918;
    font-size: 28px;
  }
}
