<main>
  <div class="movie">
    <div class="movies-details">

      <img [ngClass]="{'blur': detailsClick}" class="bg-img" src="{{movie.imgBigSrc}}" alt="">

      <div class="content-details">
        <div class="details-title">
          <button [ngClass]="{'clickBtn': !aboutClick }" (click)="aboutBtnClick()">О фильме</button>
          <button [ngClass]="{'clickBtn': !detailsClick }" (click)="detailsBtnClick()">Детали</button>
          <!--      <button class="close-details-page" (click)="closeDetail()">X</button>-->
        </div>

        <div class="movie-about-data" *ngIf="aboutClick">
          <img class="img" [src]="movie.imgNameSrc" alt="">
          <p [ngStyle]="{'font-size': '16px'}">
            <span [ngStyle]="{'color': setRating(movie.rating)}">{{movie.rating}}</span>
            <span> {{movie.date}},</span>
            <span> боевик, комедия, </span>
            <span>США </span>
            <span>{{movie.timeHour}}</span>
          </p>
          <p class="movie-title1">{{movie.text}}</p>

          <div class="btns-box">
<!--            <button class="watch-movie">-->
<!--              <mat-icon>play_arrow</mat-icon>-->
<!--              <span>Смотреть</span>-->
<!--            </button>-->
            <button class="action-btns" (click)="addToFa()">
              <mat-icon *ngIf="!clickAdd">bookmark</mat-icon>
              <mat-icon *ngIf="clickAdd">done</mat-icon>
            </button>
<!--            <button class="action-btns">-->
<!--              <mat-icon>videocam</mat-icon>-->
<!--            </button>-->
          </div>
        </div>

        <div class="movie-about-data width-sz" *ngIf="detailsClick">
          <div [ngStyle]="{'width': '642px', 'margin-top': '80px'}">
            <img class="img change-sz" [src]="movie.imgNameSrc" alt="">
            <div>
              <span [ngStyle]="{'color': setRating(movie.rating), 'font-size': '18px', 'font-weight': 'bold'}">{{movie.rating}}</span>
            </div>
            <div>485219 оценок</div>
            <p class="movie-title1">{{movie.text2}}</p>
          </div>
          <div class="players-list">
            <div class="child1">
              <div>В главных ролях</div>
              <ul>
                <li>Мэттью МакКонахи</li>
                <li>Чарли Ханнэм</li>
                <li>Генри Голдинг</li>
                <li>Хью Грант</li>
                <li>Мишель Докери</li>
                <li>Джереми Стронг</li>
                <li>Эдди Марсан</li>
                <li>Джейсон Вонг</li>
                <li>Колин Фаррелл</li>
                <li>Лайн Рени</li>
              </ul>
              <div>Режиссёры</div>
              <ul>
                <li>Гай Ричи</li>
              </ul>
            </div>
            <div class="child2">
              <div>Аудиодорожки</div>
              <ul>
                <li>Русский 5.1</li>
                <li>Русский 5.1 (Кубик в Кубе)</li>
                <li>Английский 5.1</li>
              </ul>

              <div>Субтитры</div>
              <ul>
                <li>Русские</li>
                <li>Русский 5.1 (Кубик в Кубе)</li>
                <li>Английский 5.1</li>
              </ul>

              <div>Оригинальное название</div>
              <ul>
                <li>The Gentlemen</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="player-body">
    <youtube-player (click)="startTimeRun()"
      videoId="kP9TfCWaQT4"
      suggestedQuality="highres"
      [height]="500"
      [width]="1000"
      [startSeconds]="start"
      [endSeconds]="end">
    </youtube-player>
  </div>

  <div class="carousels">
    <app-carousel [movies]="inputData1" [genre]="'comedy'" [checkGenre]="status" (getGenre)="checkGenreF($event)"></app-carousel>
    <app-carousel [movies]="inputData2" [genre]="'anime'" [checkGenre]="status" (getGenre)="checkGenreF($event)"></app-carousel>
  </div>
</main>
