.editorial-carousel {
  width: 100%;
  margin-top: 50px;
  background-color: black;
  overflow: hidden;
  position: relative;
  button {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 10;
    border: none;
    background-color: rgba(62, 62, 62, 0.23);
    border-radius: 2px;
    outline: none;
    .icon {
      font-size: 70px;
      height: 70px;
      width: 70px;
      line-height: 70px;
      color: rgba(218, 218, 218, 0.21);
    }
  }

  button:hover {
    background-color: rgba(62, 62, 62, 0.5);
    .icon {
      color: #fff;
    }
  }
}

.left {
  left: 30px;
  top: calc(50% - 40px);
}

.right {
  right: 30px;
  top: calc(50% - 40px);
}

.flex {
  display: flex;
  min-width: 400%;
  background-color: red;
  overflow: hidden;
}

.movie {
  flex-basis: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.img {
  img {
    height: 247px;
  }
}

.texts {
  p {
    text-align: justify;
  }
  .title {
    font-size: 34px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  max-width: 400px;
  margin-left: 35px;
  box-sizing: border-box;
  padding-left: 45px;
}
