<div class="absolute">
    <h4>Latest updates</h4>
    <div class="item">
        <img src="https://static.amai.tv/screens/1614285326cb8c4da8895033d51ee48a8c2404556853138aef_min.jpg?w=70&q=70&fit=crop-center" alt="Скриншот из аниме Выдающиеся звери" >
      <div class="author">
        <span><b>Выдающиеся звери</b><br>
        Серия 7 из 12 (2 Сезон)</span>
      </div>
    </div>
    <div class="item">
        <img src="https://static.amai.tv/screens/16142684458e59d4ec8b0b280b00152885b5618a7c169c4728_min.jpg?w=70&q=70&fit=crop-center" alt="Скриншот из аниме Магическая битва">
      <div class="author">
        <span><b>Магическая битвa</b><br>
        Серия 19 из 24</span>
      </div>
    </div>
    <div class="item">
        <img src="https://static.amai.tv/screens/1614298900674bc5212ce48ec260ff99ad9c22fef3a5ded608_min.jpg?w=70&q=70&fit=crop-center" alt="Скриншот из аниме Ясяхимэ: Принцесса-полудемон" >
      <div class="author">
        <span><b>Ясяхимэ: Принцесса-полудемон</b><br>
        Серия 20 из 24 </span>
      </div>
    </div>
    <div class="item">
        <img src="https://static.amai.tv/screens/16141985762cd11c559b5a513179d473cfa1349a3279352b8f_min.jpg?w=70&q=70&fit=crop-center" alt="Скриншот из аниме Скейт: Бесконечность">
      <div class="author">
        <span><b>Скейт: Бесконечность</b><br>
         Серия 7 из 12 </span>
      </div>





