<div class="card-cv">

  <div class="content">

    <button class="btn-delete" mat-mini-fab color="primary" aria-label="delete movie btn" (click)="deleteMovieInHistory()">
      <mat-icon [ngStyle]="{'color': '#d2d2d2'}">close</mat-icon>
    </button>

    <div class="content-body" [routerLink]="['/selection/movie', movie.id]">
      <img [src]="movie.imgSrc">

      <span class="time">{{movie.timeHour}}</span>

      <div class="color" [ngStyle]="{'width': getPercent()}"></div>
      <div class="fon"></div>
    </div>

  </div>

  <div class="title">
    <p>{{movie.name}}</p>
    <span *ngIf="movie.name.charAt(0) === 'S'">2 сезон, 4 серия</span>
  </div>
</div>
