.card-cv {
  //margin-right: 30px;
}

.content:hover {
  -webkit-box-shadow: 0px 15px 35px 0px rgba(29, 35, 42, 1);
  -moz-box-shadow: 0px 15px 35px 0px rgba(29, 35, 42, 1);
  box-shadow: 0px 15px 35px 0px rgba(29, 35, 42, 1);

  transform: scale(1.05);

  .btn-delete {
    display: flex;
  }
}

.content {
  max-width: 337px;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  transform-origin: center;
  transition: all 200ms ease-in-out;
  img {
    width: 100%;
    height: 400px;
  }

  .btn-delete {
    position: absolute;
    z-index: 7;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(76, 76, 76, 0.43);
  }

  .time {
    display: inline-block;
    right: 10px;
    bottom: 10px;
    position: absolute;
    z-index: 6;
  }

  .color {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    background-color: rgb(236, 120, 34);
    z-index: 5;
  }

  .fon {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    background-color: rgba(177, 177, 177, 0.49);
    z-index: 4;
  }
}

.title {
  margin-top: 20px;
  margin-left: 10px;
  p {
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
  }

  span {
    padding-left: 15px;
    position: relative;
  }

  span:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    background-color: #ec7822;
    position: absolute;
    top: 4.3px;
  }
}
