<!-- Site footer -->
<footer class="site-footer">
  <div class = "container">

    <div class="grid-container">
      <div class="grid-item">

        <img src = " https://amai.tv/images/amaiLOGO-1.png" class = "logo-img">

      </div>

      <div class="grid-item inner-grid-container">


        <div class="grid-item"><a href="">По любым вопросам: info@amai.tv</a></div>
        <div class="grid-item"><a href="">Главная</a></div>
        <div class="grid-item"><a href="">Все аниме</a></div>
        <div class="grid-item"><a href="">Рассылка Вконтакте</a></div>
        <div class="grid-item"><a href="">Блоги</a></div>
        <div class="grid-item"><a href="">Политика</a></div>
        <div class="grid-item"><a href="">О нас</a></div>


      </div>

    </div>
    <hr>

    <p>© 2021 Amai.tv - Все правы защищены</p>

  </div>
</footer>
